/* MAIN SETUP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background: #f4f4f4;
}

h2 {
  text-align: center;
}

/* UTILITIES */
.container {
  max-width: auto;
  margin: auto;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0.3rem 1.5rem 0.5rem 1.5rem;
  border-radius: 3px;
}

.btn-primary {
  color: #fff;
  border-bottom: 1px solid transparent;
}

.btn-primary:hover {
  border-bottom: 1px solid #fff;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.btn-dark:hover {
  background: coral;
}

.btn-secondary {
  background: green;
  color: #fff;
}

.btn-secondary:hover {
  background: #b2dcbb;
  color: #333;
}

.btn-warning {
  background: #dbba16;
  color: #fff;
}

.btn-warning:hover {
  background: red;
  color: #fff;
}

.selected {
  border-bottom: 1px solid coral;
}

.recommended {
  background: #fcda0d;
}

.negative-num {
  color: red;
}

.warning-num {
  color: coral;
}

.approved {
  background: #b2dcbb;
}

.primary-text {
  color: coral;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.2rem;
}

.secondary-text {
  color: green;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.2rem;
}

/* LOADING SPINNER */

#spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* NAVBAR */
.nav-container {
  max-width: 1750px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-self: center;
  align-items: center;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 1rem;
}

#nav-bar ul {
  justify-self: end;
  display: flex;
}

#nav-bar ul li a {
  padding: 0.75rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

/* FILTER BAR AND BUTTONS */
#filter {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 75%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0 0 0 8px;
}

#filter:focus {
  border-bottom: 1px solid coral;
}

.input-field {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}

#hide-summary,
#approveBtn {
  height: auto;
  margin-left: 15px;
}

.filter-bar-container {
  display: flex;
  width: 30%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}

.filter-bar-container > .btn {
  height: auto;
}

.flex-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}

#approveBtn {
  display: none;
}

/* DATA TABLE */
.table-div {
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow-x: scroll;
  width: 100%;
}
.table-styles {
  border-collapse: collapse;
  width: 90%;
  border: 1px solid #ddd;
  margin: 1.5rem;
  border-radius: 3px;
}

#data-table {
  margin-right: 20px;
}

.table-styles th {
  /* position: sticky;
  top: 80px; */
  background: #333;
}

#data-table th:hover {
  cursor: pointer;
}

.table-styles th,
.table-styles td {
  padding: 1rem;
}

.table-styles tr {
  border-bottom: 1px solid #ddd;
}

.table-styles tbody tr:hover {
  background: #afe0f0;
  color: #000;
}
.table-styles tbody td:hover {
  background: #79acbd;
}

.table-styles tfoot td:hover {
  background: #ba5530 !important;
}

thead {
  background: #333;
  color: #fff;
}

tr > td,
thead th {
  text-align: center;
}

tr > td:first-child,
thead th:first-child {
  text-align: left;
}

.approved:hover {
  background: #43a75a !important;
}
.approved > td:hover {
  background: #2a803e !important;
}

.recommended:hover {
  background: #be9528 !important;
}
.recommended > td:hover {
  background: #ebc04d !important;
}

.total-row {
  background: #333;
  color: #fff;
  font-weight: bold;
  font-style: italic;
}

.total-row:hover {
  background: coral !important;
  color: #fff !important;
}

#data-table_length {
  margin-top: 15px;
}

#data-table_length,
#data-table_filter,
#data-table_paginate,
#data-table_info {
  text-align: center;
}

#data-table_filter {
  margin-top: 10px;
}

input[type="text"],
input[type="search"] {
  padding: 3px;
  border-radius: 3px;
  border: transparent 3px solid;
  outline: none;
  font-weight: bold;
}

input[type="text"] {
  background: #3f3f3f;
  color: coral;
}

input[type="search"] {
  background: #fefefe;
  margin-left: 5px;
}

input[type="text"]:focus,
input[type="search"]:focus {
  border: coral 3px solid;
}

input[type="text"]::placeholder,
input[type="search"]::placeholder {
  color: #d3d3d3;
  font-weight: normal;
}

/* PAGINATE BUTTON */
.paginate_button {
  margin: 5px;
  display: inline-block;
  padding: 0.3rem 1.5rem 0.5rem 1.5rem;
  border-radius: 3px;
}
.paginate_button:hover {
  cursor: pointer;
  background: #ebc04d;
}
.previous {
  background: #333;
  color: #fff;
}
.next {
  background: #333;
  color: #fff;
}
.current {
  background: coral;
  color: #fff;
}

/* LAST UPDATED */
.last-updated-cont {
  padding-top: 20px;
  width: 90%;
  display: flex;
}
#last-updated-text {
  text-align: left;
}

/* TOP BUTTON */
#top-btn-div {
  display: relative;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: coral;
}

/* MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
  align-self: center;
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 3px;
}

#close-modal {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 10px;
}

#close-modal:hover,
#close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* FOOTER */
.footer-container {
  display: flex;
  margin: auto;
  max-width: 1750px;
  width: 95%;
  align-self: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

footer p {
  text-align: center;
}
